In [12]:
# Imports
import pandas as pd
import math

## Question 1
**A portfolio contains 51 stocks whose prices are given
below:** 

67 34 36 48 49 31 61 34 43 45 38 32 27 61 29 47 36 50 46 30 40 32 \
30 33 45 49 48 41 53 36 37 47 47 30 50 28 35 35 38 36 46 43 34 62 \
69 50 28 44 43 60 39 

**Summarize these stock prices in the form of a frequency
distribution.**

In [6]:
data = [67,34,36,48,49,31,61,34,43,45,38,32,27,61,29,47,36,50,46,30,40,32,30,33,45,49,48,41,53,36,37,47,47,30,50,28,35,35,38,36,46,43,34,62,69,50,28,44,43,60]

In [11]:
series = pd.Series(data)
series.size

50

In [69]:
def create_distribution(series):
    classes = 0
    frame = series.value_counts().to_frame()
    for i in range(1 , 100):
        if(1 << i >= series.size):
            classes = i
            break
    
    _min = series.min()
    _max = series.max()
    interval = int((_max - _min)/classes)

    interval_list = list()
    indices = list()
    for i in range(classes):
        upper = _min+interval
        _sum =frame.iloc[(frame.index >= _min) & (frame.index < upper)].sum()[0]
        idx = str(_min) + '-' + str(upper)
        _min= upper
        interval_list.append(_sum)
        indices.append(idx)

    return pd.DataFrame(interval_list , index=indices , columns=['Freq'])

In [70]:
df = create_distribution(series)

## Question 2
**Construct a frequency distribution of the data given
below, where class interval is 4 and the mid-value of one
of the classes is zero.**

–8 –7 10 12 6 4 3 0 7
–4 –3 –2 2 3 4 7 5 6
10 12 9 13 11 – 10 –7 1 0
5 3 2 6 10 -6 –4

In [83]:
data = [-8,-7,10,12,6,4,3,0,7,-4,-3,-2,2,3,4,7,5,6,10,12,9,13,11,-10,-7,1,0,5,3,2,6,10,-6,-4]

In [85]:
df2 = create_distribution(pd.Series(data))

In [86]:
df2

        Freq
-10--7     2
-7--4      3
-4--1      4
-1-2       3
2-5        7
5-8        7

## Question 3
**Form a frequency distribution of the following data.
Use an equal class interval of 4 where the lower limit of
the first class is 10.**

10 17 15 22 11 16 19 24 29\
18 25 26 32 14 17 20 23 27\
30 12 15 18 24 36 18 15 21\
28 33 38 34 13 10 16 20 22\
29 29 23 31

In [90]:
data = [10,17,15,22,11,16,19,24,29,18,25,26,32,14,17,20,23,27,30,12,15,18,24,36,18,15,21,28,33,38,34,13,10,16,20,22,29,29,23,31]

In [91]:
df3 = create_distribution(pd.Series(data))

In [92]:
df3

       Freq
10-14     5
14-18     8
18-22     7
22-26     7
26-30     6
30-34     4

## Question 4
The distribution of ages of 500 readers of a nationally
distributed magazine is given below:
|Age (in Years)|Number of Readers |
|----|-----|
|Below 14 |20|
|15–19 |125|
|20–24 |25|
|25–29 |35|
|30–34 |80|
|35–39 |140|
|40–44 |30|
|45 and above| 45|

Find the relative and cumulative frequency distributions
for this distribution.

In [93]:
data = {"Age" : ['Below 14' , '15-19' , '20-24' , '25-29' ,'30-34' , '35-39' , '40-44' , '45 and above'] , 
        "Number of Readers": [20 , 125 , 25 , 35 , 80 , 140 , 30 , 45]}

In [94]:
df4= pd.DataFrame(data).set_index("Age")

In [98]:
df4["Cumulative Freq"] = df4["Number of Readers"].cumsum()
df4[]

Age
Below 14         20
15-19           145
20-24           170
25-29           205
30-34           285
35-39           425
40-44           455
45 and above    500
Name: Number of Readers, dtype: int64